/*
colorBlack = rgb(15 15 15)
colorGreen = rgb(62 103 50)
*/

.pageOne {
  padding: 60px 200px;
  display: flex;
  flex-direction: column;
  background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/hero-bg.png");
  min-height: 100vh;
  /* overflow: hidden; */
}

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cred__logo {
  width: 50px;
}

.top__options > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}

.top__option {
  position: relative;
  list-style: none;
  /* margin-left: 70px; */
  margin: 0 20px;
}

.top__option > a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  /* color: rgb(248, 248, 248); */
}

.top {
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 0px;
  padding: 4px 10px 2.5px;
  text-transform: uppercase;
  background-color: rgb(74, 125, 58);
  border-radius: 10px;
  font-weight: bolder;
  font-size: 10px;
  letter-spacing: 1.7px;
}

.page__bottom {
  margin: 100px 0px 0px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom__header {
  font-size: 106px;
  letter-spacing: -6.3px;
  line-height: 125px;
  text-align: center;
  white-space: pre-line;
  color: rgb(248, 248, 248);
  margin-top: -15px;
  font-weight: 700;
}

.header__two {
  /* margin-top: 30px; */
  padding: 30px 0 65px 0;
  font-size: 30px;
  font-weight: 600;
  color: rgb(248, 248, 248);
  letter-spacing: -0.2px;
  /* margin-bottom: 65px; */
}

.btn {
  background-color: rgb(248, 248, 248);
  padding: 18px 50px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bolder;
  /* margin-top: 54px; */
  letter-spacing: 0.4px;
  line-height: 30px;
  border: none;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .pageOne {
    padding: 40px 130px;
  }
  .cred__logo {
    width: 40px;
  }
  .top__option {
    margin: 0 15px;
  }
  .top__option > a {
    font-size: 13px;
  }
  .page__bottom {
    margin: 80px 0 0;
    padding: 0 18px;
  }
  .bottom__header {
    font-size: 80px;
    letter-spacing: -3px;
    line-height: 90px;
  }
  .header__two {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
  }
  .btn {
    padding: 15px 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .pageOne {
    padding: 30px 60px;
  }
  .top__options {
    display: none;
  }
  .page__bottom {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bottom__header {
    text-align: left;
    font-size: 15vw;
    letter-spacing: -2px;
    line-height: 70px;
  }
  .header__two {
    font-size: 18px;
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  .pageOne {
    padding: 33px 30px;
  }
  .bottom__header {
    line-height: 60px;
  }
  .header__two {
    font-size: 15px;
  }
  .btn {
    padding: 20px 30px;
    font-size: 6vw;
    line-height: 20px;
  }
}
