.pageTwo {
  background-color: rgb(15, 15, 15);
  /* display: flex; */
  position: relative;
  height: 100vh;
  min-height: 100%;
  /* width: 100vw; */
  background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/video-bg.png");
  background-position: right top;
  background-size: cover;
  overflow: hidden;
}

.phone__left-1 {
  position: absolute;
  left: 11%;
  bottom: -200px;
  z-index: 10;
}

.phone__left-2 {
  position: absolute;
  left: 27%;
  bottom: -136px;
  z-index: 50;
}

.phone__center {
  position: absolute;
  left: 38%;
  bottom: -50px;
  z-index: 100;
}

.phone__right-1 {
  position: absolute;
  right: 24%;
  bottom: -136px;
  z-index: 50;
}

.phone__right-2 {
  position: absolute;
  right: 11%;
  bottom: -200px;
  z-index: 10;
}

.phone__width {
}

@media screen and (max-width: 1100px) {
  .pageTwo {
  }
  .phone__width {
    width: 300px;
  }
  .phone__display {
  }
  .phone__left-1 {
    left: 5%;
  }
  .phone__left-2 {
    left: 19%;
  }
  .phone__center {
    left: 33%;
  }
  .phone__right-1 {
    right: 19%;
  }
  .phone__right-2 {
    right: 5%;
  }
}
@media screen and (max-width: 800px) {
  .pageTwo {
  }
  .phone__width {
    width: 260px;
  }
}
@media screen and (max-width: 600px) {
  .pageTwo {
  }
  .phone__width {
    width: 214px;
  }
}
@media screen and (max-width: 400px) {
  .pageTwo {
  }
  .phone__width {
    width: 214px;
  }
  .phone__left-1 {
    left: -5%;
  }
  .phone__left-2 {
    left: 7%;
  }
  .phone__center {
    left: 26%;
  }
  .phone__right-1 {
    right: 7%;
  }
  .phone__right-2 {
    right: -5%;
  }
}
@media screen and (max-width: 300px) {
  .phone__center {
    left: 16%;
  }
  .phone__left-1 {
    left: -10%;
  }
  .phone__left-2 {
    left: 3%;
  }
  .phone__right-1 {
    right: -6%;
  }
  .phone__right-2 {
    right: -10%;
  }
}
