.pageThree {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.container {
  padding: 200px 200px 180px;
  display: flex;
  flex-direction: column;
}

.top_one {
  line-height: 80px;
  font-weight: 700;
  opacity: 0.8;
  /* font-size: 100px; */
  font-size: 5vw;
  letter-spacing: -6px;
  word-break: break-word;
  width: 70%;
  padding-right: 50px;
}

.top_two {
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 2px;
}

.bottom_one {
  font-size: 18px;
  /* font-family: gilroy-semibold; */
  letter-spacing: 0px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 630px;
  margin-bottom: 40px;
}

.btn {
  margin-top: 0px;
  /* width: 20%; */
  color: black;
  display: inline-flex;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 100px;
  }
  .top_one {
    font-weight: 600;
    letter-spacing: 0;
    padding-right: 30px;
    font-size: 100px;
  }
  .top_two {
    font-size: 2vw;
  }
  .bottom_one {
    font-size: 16px;
    width: 60%;
    margin-bottom: 40px;
  }
  .btn {
    padding: 15px 40px;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .pageThree {
    background-position: center center;
  }
  .container {
    padding: 50px 60px 90px;
  }
  .box__top {
  }
  .top_one {
    font-size: 80px;
    font-size: 15vw;
    word-break: inherit;
  }
  .top_two {
    font-size: 3vw;
    /* font-weight: 800; */
  }
  .bottom_one {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 20px;
  }
  .btn {
  }
}

@media screen and (max-width: 400px) {
  .pageThree {
  }
  .container {
    padding: 30px 33px;
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
  }
  .box__top {
  }
  .top_one {
    font-size: 11vw;
    line-height: 1;
    text-align: left;
  }
  .top_two {
    font-weight: 800;
    font-size: 5vw;
  }
  .bottom_one {
    /* margin: 0; */
  }
  .btn {
    font-size: 10px;
    padding: 10px 14px;
  }
}
