/*
colorBlack = rgb(15 15 15)
colorGreen = rgb(62 103 50)
*/

.pageOne {
  padding: 60px 200px;
  display: flex;
  flex-direction: column;
  background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/hero-bg.png");
  min-height: 100vh;
  /* overflow: hidden; */
}

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cred__logo {
  width: 50px;
}

.top__options > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}

.top__option {
  position: relative;
  list-style: none;
  /* margin-left: 70px; */
  margin: 0 20px;
}

.top__option > a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  /* color: rgb(248, 248, 248); */
}

.top {
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 0px;
  padding: 4px 10px 2.5px;
  text-transform: uppercase;
  background-color: rgb(74, 125, 58);
  border-radius: 10px;
  font-weight: bolder;
  font-size: 10px;
  letter-spacing: 1.7px;
}

.page__bottom {
  margin: 100px 0px 0px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom__header {
  font-size: 106px;
  letter-spacing: -6.3px;
  line-height: 125px;
  text-align: center;
  white-space: pre-line;
  color: rgb(248, 248, 248);
  margin-top: -15px;
  font-weight: 700;
}

.header__two {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(248, 248, 248);
  letter-spacing: -0.2px;
  margin-bottom: 65px;
}

.btn {
  background-color: rgb(248, 248, 248);
  padding: 18px 50px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bolder;
  /* margin-top: 54px; */
  letter-spacing: 0.4px;
  line-height: 30px;
  border: none;
  cursor: pointer;
  text-align: center;
}
